html, body {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Borgia Pro";
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:beige;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#viz {
    height: 100%;
}

/*----------------------HEADER styles---------------------------------------------------*/

#header {
    display: flex;
    background-color: beige;
    height: 3.25rem;
    justify-content: space-between;
}

.title {
    display: inline-flex;
}

.title h1 {
    margin: 0 0 0 2rem;
    display: flex;
    align-items: center;
}

.helpButtons, .aboutButtons {
    display: flex;
    padding-right: 0.5rem;
    justify-content: end;
    align-items: center;
}

.helpButtons a, .aboutButtons a {
    font-size: 1.25rem;
}

.helpButtons img, .aboutButtons img{
    max-width: 3rem;
    margin-top: 0.5rem;
}

.helpButtons a:first-child, .aboutButtons a:first-child {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    background-color: goldenrod;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    padding: .5rem .5rem .5rem .5rem;
}

.links {
    display: flex;
    padding-right: 0.5rem;
    justify-content: end;
    align-items: center;
}

.links a {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.links a:last-child img{
    max-width: 5rem;
}

.links img{
    max-width: 2.5rem;
}

.links a:hover {
    opacity: 0.8;
}

/*-------------------------------------MINIMAP styles--------------------------------------------*/
.minimap {
    height: 2.2rem;
    min-height: 2.2rem;
    background-image: url("img/background.png");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.minimapDraw {
    height: 100%;
    width: 100%;
    touch-action: none;
    cursor: inherit;
}

.minimapDraw .selection{
    fill: blue;
    stroke: none;
    fill-opacity: 0.2;
    rx: 5px;
}

.minimapDraw .handle {
    fill: dimgray;
    rx: 5px;
    height: 25px;
    y: 5px;
    width: 10px;
}

.minimapDraw text {
    cursor: default;
    fill: black;
}

#minimap_Bound {
    rx: 5px;
    stroke: black;
    fill: white;
}

#minimap_focus {
    rx: 5px;
    stroke: black;
    fill: blue;
    opacity: 0.3;
}

/*----------------------------------------CANVAS styles---------------------------------------------*/
.canvas {
    width: 100%;
    height: 86%;
    overflow: hidden;
    background-image: url("img/background-II.png");
}

.canvasDraw {
    width: 100%;
    height: 100%;
    touch-action: none;
    cursor: inherit;
}

#zoom {
    cursor: move;
    opacity: 0;
    fill: none;
    pointer-events: all;
}

#emblems image {
    cursor: pointer;
}

#emblems text {
    pointer-events: none;
}

#emblems .hideable {
    visibility: hidden;
}

#emblems g:hover .hideable {
    visibility: visible;
}

#emblems .background {
    fill: darkgray;
    opacity: 55%;
    rx: 10px;
}

#selected {
    /*none skryje inherit ukaze*/
    display: none;
}

#lampshade {
    fill: lightgray;
}

#paths path {
    stroke-width: 10;
    fill: none;
    vector-effect:non-scaling-stroke;
}

#paths .sec_path {
    opacity: 0.35;
}

#timeline_els image:hover {
    opacity: 0.9;
}

#add {
    fill: limegreen;
}

#add rect {
    rx: 20px;
}

#add text, #remove text{
    font-size: 25px;
    fill: black;
}

#remove {
    fill: #e7e7e7;
}

#remove rect {
    rx: 20px;
}

#remove image {
    opacity: 0.45;
}

.inputPicker {
    display: none;
}
/*-------------------------------------------FOOTER styles-------------------------------------------*/

#footer {
    display: flex;
    justify-content: center;
    background-color: beige;
    width: 100%;
    border-top: 1px solid black;
}

#footer a {
    margin-left: 0.4rem;
}

/*-------------------------------------------MODAL menu---------------------------------------------------*/

#modal_menu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal_menu .content {
    display: inherit;
    position: relative;
    background-color: lightgray;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 21rem;
    max-width: 40rem;
    top: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
}

#modal_menu #buttons {
    display: flex;
}

#modal_menu #buttons .close {
    border-radius: 20px;
}

#modal_menu .content .tabs {
    height: 15rem;
}

#modal_menu .close {
    position: relative;
    width: 3rem;
    font-size: 1.5rem;
    font-family: Verdana;
    border:none;
    margin-left:auto;
}

#modal_menu .tabs {
    display: flex;
}

#modal_add > * {
    position: relative;
    display: block;
    left: 15%;
    top: 1rem;
}

.tabs #modal_add p {
    margin: 0 0 0 0;
}

#modal_add .dropdown {
    margin-bottom: 0.5rem;
}

#modal_add .dropdown .form_control {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0.15rem 0.1rem 0.15rem 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #ffffff;
    width: 14.5rem;
    height: 2rem;
}

#add_confirm {
    visibility: hidden; /*skryva tlacitko, kdyz neni treba*/
    background-color: lightgray;
    color: black;
    border: 2px solid #4CAF50;
}

#modal_add #add_confirm:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#modal_add button {
    width: 5rem;
    height: 3rem;
    display: inline-block;
    margin-top: 0.5rem;
    border-radius: 10px;
    margin-left: 5px;
    left: 35px;
    transition-duration: 0.4s;
}

#add_example {
    visibility: hidden;
    background-color: lightgray;
    color: black;
    border: 2px solid #008CBA;
}

#modal_add #add_example:hover {
    background-color: #008CBA; /* Green */
    color: white;
}

#frequency, #force, #random_order {
    background-color: lightgray;
    color: black;
    border: 2px solid #e7e7e7;
}

#frequency:hover, #force:hover, #random_order:hover {
    background-color: #e7e7e7; /* Green */
    color: black;
}

#content {
    width: 12rem;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    padding: 0rem 1rem 1rem 1rem;
    max-height: 15rem;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    margin: 0;
    font-family: Verdana;
}
#content li {
    list-style-type: none;
    padding: 0.15rem 0rem 0.15rem 0.5rem;
}

#content li:hover, .searchSel{
    background-color: cornflowerblue;
    border-radius: 0.5rem;
}

/*-----------------------------------------------HELP---------------------------------------------------*/
#help {
    background-color: white;
}

#help h2 {
    margin-left: 3rem;
}

#help_start p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 50%;
}

#help_start {
    display: flex;
}

#help_start ul{
    font-family: Bahnschrift;
}

#help p {
    margin-left: 4rem;
    font-family: Bahnschrift;
}

#help img {
    position: relative;
    left: 10%;
}

/*-------------------------------------------ABOUT-------------------------------------------------------*/

#about {
    background-color: white;
}

#about p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

#about ul li {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

/*------------------------------------------MISCELLANEOUS------------------------------------------------*/

#selected {
    opacity: 30%;
    cursor: revert;
}

#timestamps {
    min-width: 50rem;
}

#timestamps path {
    stroke-width: 0;
}

#timestamps line {
    stroke-width: 0.1rem;
}

#timestamps text {
    font-size: 1.5rem;
    transform: rotate(-45deg);
    text-anchor: end;
}

.more_info {
    font-size: 0.7rem;
    color: gray;
}

/*-------------------------------------------------TIPPY STYLES----------------------------------------------*/

.tippy-box[data-theme~="tooltip"]{
    background-color: antiquewhite;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 35rem;
    display:flex;
    font-family: Verdana;
}

.tippy-box[data-theme~="tooltip"] .left {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 15rem;
    float: left;
}
.tippy-box[data-theme~="tooltip"] .left h2 {
    font-size: 1rem;
}
.tippy-box[data-theme~="tooltip"] .right h2 {
    font-size: 1rem;
    margin-left: 1.5rem;
}
.tippy-box[data-theme~="tooltip"] .left p {
    font-size: 1rem;
}

.tippy-box[data-theme~="tooltip"] .right {
    max-width: 15rem;
    font-size: 1rem;
    float: left;
}

.tippy-box[data-theme~="tooltip"] .left .desc_date {
    font-size: 0.7rem;
    color: gray;
}

.tippy-box[data-theme~='tooltip'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: black;
    margin-right: -0.1rem;
}
.tippy-box[data-theme~='tooltip'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: black;
    margin-left: -0.1rem;
}

/*------------------------------------------Groupped events----------------------------------------------*/

.group rect {
    height: 50px;
    rx: 5px;
    stroke: black;
    fill: antiquewhite;
}
.group image {
    width: 50px;
    height: 50px;
}

.group image:hover {
    opacity: 0.65;
}

/*-----------------------------------------ABOUT--------------------------------------------------------*/
#about {
    background-color: white;
}

#about p {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}

#about ul li {
    margin-left: 4rem;
    font-family: Bahnschrift;
    max-width: 30rem;
}
